body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}


.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.word{
    color: black;
    font-size: 20px;
}

.word1{
    color: black;
    width: 10px;
    flex-direction: column;
    font-size: 25px;
    }

.colour{
    color: white;
    text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange;
    font-size: 3rem;
   }

.yellowbox{
    display: flex;
    background-color: orange;
    color: black;
    font-size: 15px;
    width: 18rem;
}

.greyword{
    font-size: 15px;
    display: flex;
    color: gray;
    width: 50rem;
}

.boyimg{
    display: flex;
    margin-left: 35rem;
}

.box{
   display: flex;
    background-color: orange;
    color: rgb(255, 255, 255);
    font-size: 15px;
    width: 9rem;
    border-radius: 30px;
    height: 3rem;
   align-items: center;
   justify-content: center;
}





        



